<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="index.html" />
        <remove value="index.htm" />
      </files>
    </defaultDocument>
        <asp scriptErrorSentToBrowser="true" />
        <!--<modules>
            <remove name="iis7agent" />
            <add name="iis7agent" />
        </modules>-->
    <!--<modules>
           <remove name="iis7_agent"/>
            <add name="iis7_agent" type="C:\Agents\web_agents\iis7_agent\bin\amiis7auth.dll" />
        </modules>-->
    <!--<modules>
      <remove name="iis7agent"/>
      <add name="iis7agent"/>
    </modules>-->
	<httpErrors errorMode="Detailed" />
        <security>
            <authentication>
                <windowsAuthentication enabled="false" />
            </authentication>
        </security>
  </system.webServer>
  <system.web>
    <globalization culture="" fileEncoding="Windows-1252" uiCulture="" />
    <sessionState timeout="60" />
	<compilation debug="true" strict="false" explicit="true">
            <assemblies>
                <add assembly="Oracle.DataAccess, Version=2.112.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
            </assemblies>
        </compilation>
<customErrors mode="Off" />
  </system.web>
  
</configuration>